th.logtable, td.logtable {
    padding: 15px;
    text-align: left;
}
table.logtable {
    border-collapse: collapse;
}

th.logtable, td.logtable {
    border-bottom: 1px solid #ddd;
}
table.logtable {
    width: 100%;
}

th.logtable {
    height: 50px;
    text-align: left;
}
th.logtable, td.logtable {
    padding: 5px;
    text-align: left;
}
tr.logtable:hover {background-color: white}

td.log_default {
	color: grey;
}
td.log_important {
	color: black;
}
td.log_veryimportant {
	color: black;
}
td.log_misc {
	color: blue;
}
td.log_success {
	color: green;
}
td.log_warning {
	color: orange;
}
td.log_error {
	color: red;
}

.hidden_at_start {
	display:none;
}

#log_div {
	background-color: rgb(252,252,230);
	max-height: 400px;
	height: 400px;
	overflow:auto;
}

#rdf_dump {
	overflow:auto;
	height: 100%;
}

#rdf_dump_div {
	background-color: rgb(240,240,240);
	max-height: 400px;
	height: 400px;
}